html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bolder;

    color: white;
}

div, button {
    font-weight: bolder;
}

button {
    width: 100%;
    height: 60px;
    background-color: rgb(70,70,70);
    border-radius: 5px;
    border: none;
    color: rgb(200,200,200);
    transition: 0.1s;
    
}


button:not(.noclick):hover {
    background-color: rgb(80,80,80);
}

/* button:not(.noclick):active {
    
} */

.game-btn {
    box-shadow: 0 6px 0px rgba(0,0,0,0.3);
}
.game-btn:not(.noclick):active {
    box-shadow: none;
    margin-top: 2px;
}


#site-banner {
    position: fixed;
    width: calc(100% - 200px);
    height: 60px;
    background-color: rgb(40,40,40);
    left: 200px;
}

#site-header {
    position: fixed;
    left: 300px;
    top: 10px;
    margin: 0px;
    color: white;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 100%;
    background-color: rgb(35,35,35);
}

.nav-bar-item {
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    margin: 0px 10px 0px 10px;
    width: 180px;
    height: auto;
    background-color: rgb(50,50,50);
    border-radius: 5px;
}

#library-bar {
    margin-top: 10px;
}

.nav-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 50px;
    
}

.nav-header-text {
    position: relative;
    display: block;
    padding: 15px 0px 0px 20px;
    width: calc(100% - 20px);
    height: 30px;
    color: white;
    font-size: 12px;
}

.nav-header-divider {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(100,100,100);
}

.nav-btns {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.nav-btn {
    width: 100%;
    height: 40px;
    background-color: rgb(50,50,50);
    border: none;
    border-radius: 5px;
    color: rgb(150,150,150);
    text-align: left;
    padding-left: 40px;
}
.nav-btn:hover {
    background-color: rgb(80,80,80);
}
.nav-btn:active {
    background-color: rgb(90,90,90);
}

.page {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 200px;
    top: 60px;
    background-color: rgb(45,45,45);
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    align-items: center;
}

.banner {
    position: relative;
    width: calc(100% - 100px);
    height: 130px;
    background-color: rgb(60,60,60);
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-size: 30px;
    color: rgb(200,200,200);
}

.content-items {
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: calc(100% - 190px);
    padding: 50px 0px 0px 100px;
}

.content-item {
    border: none;
    width: 200px;
    height: 300px;
    background-color: rgb(60,60,60);
    border-radius: 20px;
    transition: 0.15s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.content-item:hover {
    margin-top: -15px;
}
img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; /* ensures the image resizes to fit the div */
    margin: 0px;
    padding: 0px;
}

.nav-btn.nav-selected {
    font-weight: bolder;
    color: white;
}

.content-window {
    position: relative;
    top: 100px;
    width: calc(100% - 200px);
    height: 800px;
    border-radius: 15px;
    background-color:rgb(35,35,35);
    display: flex;
    flex-direction: row;

}

.game-sidebar {
    width: 400px;
    height: 100%;
    background-color: rgb(55,55,55);
    border-radius: 15px 0px 0px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.enter-bet {
    position: relative;
    top: 50px;
    width: calc(100% - 40px);
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.label{
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 13px;
    padding-left: 0px;
    color: rgb(150,150,150);
    display: block;
}
.input {
    width: calc(100% - 46px);
    height: 40px;
    background-color: rgb(40,40,40);
    border-radius: 4px;
    border: 3px solid rgb(70,70,70);
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 10px;
    transition: 0.1s;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.input:not(.noclick):hover {
    background-color: rgb(35,35,35);
    border-color: rgb(100,100,100);
}

.input:focus {
    outline: 1px solid white;
}

.input::placeholder, .input[type="number"] {
    color: rgb(200,200,200);
}

.input.invalid {
    outline: 1px solid red;
}

.coinside-btns {
    width: calc(100% - 40px);
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    justify-content: center;
}

.coinside-btn {
    width: 175px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.coinside-btn.active {
    background-color: rgb(90,90,90);
    border: 2px solid rgb(120,120,120);
}

.event-btn {
    background-color: rgb(20, 150, 60);
}
.event-btn:not(.noclick):hover {
    background-color: rgb(40, 170, 80) !important;
}

.event-btn.noclick {
    opacity: .3;
}

.coinside-btn.noclick {
    opacity: .4;
}

.history-bar {
    position: relative;
    width: calc(100% - 20px);
    height: 120px;
    background-color: rgb(55,55,55);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.history-label {
    top: 10px;
    left: 20px;
    height: 30px;
}

.history-container {
    position: relative;
    width: calc(100% - 80px);
    height: 30px;
    background-color: rgb(30,30,30);
    border-radius: 5px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.profit-field {
    width: calc(100% - 20px);
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.profit {
    width: calc(100% - 40px);
    height: 70px;
}

.profit-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 20px);
    height: 20px;
    padding: 10px;
    background-color: rgb(70,70,70);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.hidden {
    display: none;
    opacity: 1;
}

.icon {
    width: 30px;
    height: 30px;
}

.label-icon {
    width: 20px;
    height: 20px;
}

@media (max-height: 960px) {
    .history-bar {
        bottom: 0px;
    }
    .coin-container {
        height: calc(100vh - 290px) !important;
    }
}

.cash {
    position: fixed;
    top: 7px;
    width: 200px;
    left: calc(50% - 0px);
}

.field-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.after-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: calc(100% - 32px);
}

.flipToH, .flipToT {
    transition: .5s ease-out;
    transform-style: preserve-3d;
}

.flipToH {
    transform: rotateY(720deg);
}

.flipToT {
    transform: rotateY(540deg);
}

.coin-container {
    width: 100%;
    height: calc(100% - 130px);

    display: flex;
    align-items: center;
    justify-content: center;


    perspective: 1000px;
    
}
.game-page {
    width: calc(100% - 400px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#coin-img {
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.heads-coin {
    background-image: url("https://waffold.github.io/casino/images/headsface.png");
}

.tails-coin {
    background-image: url("https://waffold.github.io/casino/images/tailsface.png");
    transform: rotateY(180deg);
}

.heads-coin, .tails-coin {
  position: absolute;
  width: 300px;
  height: 300px;
  background-size: cover;
  backface-visibility: hidden;
}

.overlay {
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 5px);
    margin-top: -4px;
    background-color: rgb(20,20,20);
    opacity: .5;
}
